@font-face {
    font-family: 'Moonhouse';
    src: url('/assets/font/Moonhouse-yE5M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/assets/font/JosefinSansRegular-x3LYV.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: JosefinSans;

    background-color:rgba(45, 45, 45, 0.945);
}
